<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="com.sist.space.SpaceVO" alias="SpaceVO"/>
        <typeAlias type="com.sist.mento.MentoVO" alias="MentoVO"/>
        <typeAlias type="com.sist.mento.CounselVO" alias="CounselVO"/>
        <typeAlias type="com.sist.study.StudyVO" alias="StudyVO"/>
        <typeAlias type="com.sist.space.ReviewVO" alias="ReviewVO"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/sist/space/space-mapper.xml"/>
        <mapper resource="com/sist/mento/mento-mapper.xml"/>
        <mapper resource="com/sist/study/study-mapper.xml"/>
    </mappers>

</configuration>