<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
   <typeAliases>
     <typeAlias type="com.sist.space.SpaceVO" alias="SpaceVO"/>
   </typeAliases>
   <mappers>
     <mapper resource="com/sist/space/space-mapper.xml"/>
   </mappers>
 </configuration>