<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sist.mento.MentoMapper">
	 <select id="MentoListData" resultType="MentoVO" parameterType="hashmap">
 		SELECT MENTO_NO, USER_ID, JOB_CAT, JOB, COST, TITLE, INTRO, REGDATE, IMAGE, FOLLOW, sum_star, rev_cnt, cnt_star, career, dept, num
 		FROM (SELECT MENTO_NO, USER_ID, JOB_CAT, JOB, COST, TITLE, INTRO, REGDATE, IMAGE, FOLLOW, sum_star, rev_cnt, cnt_star, career, dept, rownum as num
 		FROM (SELECT MENTO_NO, USER_ID, JOB_CAT, JOB, COST, TITLE, INTRO, REGDATE, IMAGE, FOLLOW, sum_star, rev_cnt, cnt_star, career, dept 
 		FROM mento_reg 
 			<if test="column!='all'">
 				WHERE ${column} LIKE '%'||#{fd}||'%'
 			</if>
 			<if test="column=='all'">
 				WHERE job LIKE '%'||#{fd}||'%' OR title LIKE '%'||#{fd}||'%' OR intro LIKE '%'||#{fd}||'%'
 			</if>
 			
 		ORDER BY mento_no desc))
 		WHERE num BETWEEN #{start} AND #{end}
 	</select>
 	
 	<select id="mentoTotalPage" resultType="int" parameterType="hashmap">
 		SELECT CEIL(COUNT(*)/12.0)
 		FROM mento_reg
 		<if test="column!='all'">
 				WHERE ${column} LIKE '%'||#{fd}||'%'
 		</if>
 		<if test="column =='all'">
 				WHERE job LIKE '%'||#{fd}||'%' OR title LIKE '%'||#{fd}||'%' OR intro LIKE '%'||#{fd}||'%'
 		</if>
 	</select>
 	
 	<select id="getfollowCheckListByUserId" resultType="int" parameterType="java.util.Map">
		SELECT MENTO_NO FROM MENTO_FOLLOW
		WHERE USER_ID = #{user_id}
		AND MENTO_NO IN
		    <foreach collection="list" item="no" open="(" separator="," close=")">
				#{no}
			</foreach>
	</select>
	
	<select id="MentoringListData" resultType="CounselVO" parameterType="hashmap">
 		SELECT counsel_NO, TO_CHAR(regdate, 'yyyy-MM-dd') , user_id, mento_no, str_time, end_time, state, rep_state, content, hope_date, image, num
 		FROM (SELECT counsel_NO, regdate, user_id, mento_no, str_time, end_time, state, rep_state, content, hope_date, image, rownum as num
 		FROM (SELECT counsel_NO, mc.regdate, mc.user_id, mc.mento_no, str_time, end_time, state, rep_state, content, hope_date, mr.image
 		FROM mento_counsel mc, mento_reg mr WHERE mc.user_id = #{user_id} AND  mc.mento_no = mr.mento_no 
 			<if test="column!='all'">
 				ORDER BY #{column} counsel_no))
 			</if>
 			<if test="column=='all'">
 				ORDER BY hope_date DESC))
 			</if>
 		WHERE num BETWEEN #{start} AND #{end}
 	</select>
 	
 	<select id="mentoringTotalPage" resultType="int" parameterType="hashmap">
 		SELECT CEIL(COUNT(*)/9.0)
 		FROM mento_counsel
 		WHERE user_id=#{user_id}
 	</select>
 	
 	<select id="mentoMentoringListData" resultType="CounselVO" parameterType="hashmap">
 		SELECT counsel_NO, TO_CHAR(regdate, 'yyyy-MM-dd') , user_id, mento_no, str_time, end_time, state, rep_state, content, hope_date, image, num
 		FROM (SELECT counsel_NO, regdate, user_id, mento_no, str_time, end_time, state, rep_state, content, hope_date, image, rownum as num
 		FROM (SELECT counsel_NO, mc.regdate, mc.user_id, mc.mento_no, str_time, end_time, state, rep_state, content, hope_date, mr.image
 		FROM mento_counsel mc, mento_reg mr WHERE mc.mento_no = #{mento_no} AND  mc.mento_no = mr.mento_no 
 			<if test="column!='all'">
 				ORDER BY #{column} counsel_no))
 			</if>
 			<if test="column=='all'">
 				ORDER BY hope_date DESC))
 			</if>
 		WHERE num BETWEEN #{start} AND #{end}
 	</select>
 	
 	<select id="mentomentoringTotalPage" resultType="int" parameterType="hashmap">
 		SELECT CEIL(COUNT(*)/9.0)
 		FROM mento_counsel
 		WHERE mento_no=#{mento_no}
 	</select>
	
	
 </mapper>