<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.study.StudyMapper">
    <select id="getStudyListByParams" parameterType="java.util.Map" resultType="StudyVO">
        SELECT * FROM
        (
            SELECT a.*, ROWNUM rn
            FROM
            (
                SELECT
                    STUDY_ID,
                    TITLE,
                    CONTENT,
                    TO_CHAR(STUDY.REGDATE, 'yyyy-MM-dd') AS DBDAY,
                    HIT,
                    DEADLINE,
                    ISCLOSED,
                    PERIOD,
                    RECRUIT,
                    ONOFF,
                    CONTACT_TYPE,
                    CONTACT_LINK,
                    STUDY.USER_ID,
                    MODIFYDATE,
                    NICKNAME,
                    (SELECT COUNT(*) FROM STUDY_REPLY WHERE STUDY.STUDY_ID = STUDY_REPLY.STUDY_ID) AS REPLY_CNT
                FROM STUDY, MEMBER
                WHERE
                    MEMBER.USER_ID = STUDY.USER_ID
                    <if test="tech != ''">
                        AND STUDY_ID IN (SELECT STUDY_ID FROM STUDY_TECH WHERE TECH = #{tech})
                    </if>
                    <if test="searchWord != ''">
                        AND(
                        <trim prefixOverrides="OR">
                            <if test="wCheck">
                                OR NICKNAME LIKE '%'||#{searchWord}||'%'
                            </if>
                            <if test="tCheck">
                                OR TITLE LIKE '%'||#{searchWord}||'%'
                            </if>
                            <if test="cCheck">
                                OR CONTENT LIKE '%'||#{searchWord}||'%'
                            </if>
                        </trim>
                        )
                    </if>
                ORDER BY STUDY.REGDATE DESC, DEADLINE DESC
        ) a
            WHERE ROWNUM &lt;= #{end}
        )
        WHERE rn > #{start}
    </select>
    <select id="getTechListData" parameterType="java.util.List" resultType="java.util.Map">
        SELECT STUDY_ID, TECH
        FROM STUDY_TECH
        WHERE STUDY_ID IN
            <foreach collection="list" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
    </select>
    <select id="getTotalPageByParams" parameterType="java.util.Map" resultType="int">
        SELECT CEIL(COUNT(*)/12.0) FROM STUDY, MEMBER
        WHERE
            MEMBER.USER_ID = STUDY.USER_ID
            <if test="tech != ''">
                AND STUDY_ID IN (SELECT STUDY_ID FROM STUDY_TECH WHERE TECH = #{tech})
            </if>
            <if test="searchWord != ''">
                AND(
                    <trim prefixOverrides="OR">
                        <if test="wCheck">
                            OR NICKNAME LIKE '%'||#{searchWord}||'%'
                        </if>
                        <if test="tCheck">
                            OR TITLE LIKE '%'||#{searchWord}||'%'
                        </if>
                        <if test="cCheck">
                            OR CONTENT LIKE '%'||#{searchWord}||'%'
                        </if>
                    </trim>
                )
            </if>
    </select>
    <resultMap id="StudyVOMap" type="StudyVO">
        <id property="study_id" column="study_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="dbday" column="dbday"/>
        <result property="hit" column="hit"/>
        <result property="deadline" column="deadline"/>
        <result property="isclosed" column="isclosed"/>
        <result property="period" column="period"/>
        <result property="recruit" column="recruit"/>
        <result property="onoff" column="onoff"/>
        <result property="contact_type" column="contact_type"/>
        <result property="contact_link" column="contact_link"/>
        <result property="user_id" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <collection property="techs" ofType="String">
            <result column="tech"/>
        </collection>
    </resultMap>
    <select id="studyDetailData" resultMap="StudyVOMap" parameterType="int">
        SELECT
            STUDY.STUDY_ID,
            TITLE,
            CONTENT,
            TO_CHAR(STUDY.REGDATE, 'yyyy-MM-dd') AS DBDAY,
            HIT,
            DEADLINE,
            ISCLOSED,
            PERIOD,
            RECRUIT,
            ONOFF,
            CONTACT_TYPE,
            CONTACT_LINK,
            STUDY.USER_ID,
            NICKNAME,
            TECH
        FROM STUDY
        LEFT JOIN MEMBER
        ON STUDY.USER_ID = MEMBER.USER_ID
        LEFT JOIN STUDY_TECH
        ON STUDY.STUDY_ID = STUDY_TECH.STUDY_ID
        WHERE STUDY.STUDY_ID = #{study_id}
    </select>
    
    <delete id="deleteReplys" parameterType="java.util.List">
        DELETE FROM STUDY_REPLY
        WHERE REPLY_ID IN
        <foreach collection="list" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
    </delete>

    <select id="getFourDeadlineStudy" resultMap="StudyVOMap">
        SELECT
            STUDY.STUDY_ID,
            TITLE,
            CONTENT,
            TO_CHAR(STUDY.REGDATE, 'yyyy-MM-dd') AS DBDAY,
            HIT,
            DEADLINE,
            ISCLOSED,
            PERIOD,
            RECRUIT,
            ONOFF,
            CONTACT_TYPE,
            CONTACT_LINK,
            STUDY.USER_ID,
            NICKNAME,
            TECH,
            ROWNUM
        FROM STUDY
        LEFT JOIN MEMBER
        ON STUDY.USER_ID = MEMBER.USER_ID
        LEFT JOIN STUDY_TECH
        ON STUDY.STUDY_ID = STUDY_TECH.STUDY_ID
        WHERE
            ISCLOSED = 'O'
            AND DEADLINE >= TO_CHAR(SYSDATE, 'yyyy-MM-dd')
        ORDER BY DEADLINE
    </select>
</mapper>
