<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sist.space.SpaceMapper">
	<select id="spaceListByCategory" resultType="SpaceVO" parameterType="hashmap">
	    SELECT space_id, category, poster, title, price, max_guest, address, num
	    FROM (
	        SELECT space_id, category, poster, title, price, max_guest, address, rownum as num
	        FROM (
	            SELECT /*+INDEX_DESC(space_list PK_SPACE_LIST)*/ 
	                sl.space_id, sl.category, sl.poster, sl.title, sl.price, sl.max_guest, sl.address,
	                (SELECT COUNT(*) FROM SPACE_review sr WHERE sr.space_id = sl.space_id) as cnt_rate
	            FROM space_list sl
	            <if test="category!='all'">
	              WHERE sl.category=#{category}
	            </if>
	            ORDER BY cnt_rate DESC
	        )
	    )
	    WHERE num BETWEEN #{start} AND #{end}
	</select>

   <select id="spaceTotalpage" resultType="int" parameterType="String">
     SELECT CEIL(COUNT(*)/12.0) FROM space_list
     <if test="category!='all'">
       WHERE category=#{category}
     </if>
   </select>
   <select id="spaceTop3RecentReview" resultType="ReviewVO">
     SELECT B.*, ROWNUM FROM (
     	SELECT 
		     REGDATE, 
		     space_review.space_id as space_id, 
		     ratings, 
		     content, 
		     space_list.poster as poster, 
		     space_list.title as title, 
		     space_list.price as price
		FROM space_review,space_list 
		WHERE space_review.space_id = space_list.space_id
		ORDER BY REGDATE DESC) B 
		WHERE 3 >= ROWNUM
   </select>
   
   <select id="listingNearby" resultType="SpaceVO" parameterType="int">
    SELECT A.*, ROWNUM
		FROM 
			(SELECT 
				title, 
				address, 
				poster, 
				price, 
				max_guest, 
				region_code, 
				(SELECT COUNT(*) FROM SPACE_REVIEW SR WHERE SR.SPACE_ID = SL.SPACE_ID) AS REV_COUNT
			FROM SPACE_LIST SL
			WHERE SUBSTR(SL.REGION_CODE, 1, 5) = #{region_code}
			ORDER BY REV_COUNT DESC
			) A
		WHERE 4 >= ROWNUM
   </select>
 </mapper>
