:root {
    --app-bg: #fff;
    --sidebar: #f3f6fd;
    --sidebar-main-color: #1f1c2e;
    --table-border: #1a2131;
    --table-header: #1a2131;
    --app-content-main-color: #1f1c2e;
    --sidebar-link: #1f1c2e;
    --sidebar-active-link: rgba(195, 207, 244, 1);
    --sidebar-hover-link: rgba(195, 207, 244, 0.5);
    --action-color: #2869ff;
    --action-color-hover: #6291fd;
    --app-content-secondary-color: #f3f6fd;
    --filter-reset: #2c394f;
    --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.app-container {
    border-radius: 4px;
    width: 100%;
    min-height: 750px;
    max-height: 100%;
    max-width: 1150px;
    display: flex;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0 auto;
}

.sidebar {
    flex-basis: 200px;
    max-width: 200px;
    flex-shrink: 0;
    background-color: var(--sidebar);
    display: flex;
    flex-direction: column;
}
.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.sidebar-list {
    list-style-type: none;
    padding: 0;
}
.sidebar-list-item {
    position: relative;
    margin-bottom: 4px;
}
.sidebar-list-item a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 16px;
    color: var(--sidebar-link);
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
}
.sidebar-list-item svg {
    margin-right: 8px;
}
.sidebar-list-item:hover {
    background-color: var(--sidebar-hover-link);
}
.sidebar-list-item.active {
    background-color: var(--sidebar-active-link);
}
.sidebar-list-item.active:before {
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--action-color);
    height: 100%;
    width: 4px;
}
@media screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }
}

.mode-switch {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--app-content-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 8px;
    cursor: pointer;
}
.mode-switch .moon {
    fill: var(--app-content-main-color);
}

.mode-switch.active .moon {
    fill: none;
}

.account-info {
    display: flex;
    align-items: center;
    padding: 16px;
}
.account-info-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}
.account-info-picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.account-info-name {
    font-size: 14px;
    color: var(--sidebar-main-color);
    margin: 0 8px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.account-info-more {
    color: var(--sidebar-main-color);
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
}

.app-icon {
    color: var(--sidebar-main-color);
}
.app-icon svg {
    width: 24px;
    height: 24px;
}

.app-content {
    padding: 16px 40px;
    background-color: var(--app-bg);
    flex: 1;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.app-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    text-align: center;
    margin: 10px 0;
}
.app-content-headerText {
    color: var(--app-content-main-color);
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto;
}
.app-content-headerButton {
    background-color: var(--action-color);
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    border: none;
    border-radius: 4px;
    height: 32px;
    padding: 0 16px;
    transition: 0.2s;
    cursor: pointer;
}
.app-content-headerButton:hover {
    background-color: var(--action-color-hover);
}
.app-content-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 4px;
}
.app-content-actions-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}
@media screen and (max-width: 520px) {
    .app-content-actions {
        flex-direction: column;
    }
    .app-content-actions .search-bar {
        max-width: 100%;
        order: 2;
    }
    .app-content-actions .app-content-actions-wrapper {
        padding-bottom: 16px;
        order: 1;
    }
}

.search-bar {
    background-color: var(--app-content-secondary-color);
    border: 1px solid var(--app-content-secondary-color);
    color: var(--app-content-main-color);
    font-size: 14px;
    line-height: 24px;
    border-radius: 4px;
    padding: 0px 10px 0px 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    width: 100%;
    max-width: 320px;
    transition: 0.2s;
}
.light .search-bar {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%231f1c2e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}
.search-bar:placeholder {
    color: var(--app-content-main-color);
}
.search-bar:hover {
    border-color: var(--action-color-hover);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236291fd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}
.search-bar:focus {
    outline: none;
    border-color: var(--action-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%232869ff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}

.action-button {
    border-radius: 4px;
    height: 32px;
    background-color: var(--app-content-secondary-color);
    border: 1px solid var(--app-content-secondary-color);
    display: flex;
    align-items: center;
    color: var(--app-content-main-color);
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
}
.action-button span {
    margin-right: 4px;
}
.action-button:hover {
    border-color: var(--action-color-hover);
}
.action-button:focus, .action-button.active {
    outline: none;
    color: var(--action-color);
    border-color: var(--action-color);
}

.filter-button-wrapper {
    position: relative;
}

.filter-menu {
    background-color: var(--app-content-secondary-color);
    position: absolute;
    top: calc(100% + 16px);
    right: -74px;
    border-radius: 4px;
    padding: 8px;
    width: 220px;
    z-index: 2;
    box-shadow: var(--filter-shadow);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}
.filter-menu:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--app-content-secondary-color);
    bottom: 100%;
    left: 50%;
    transform: translatex(-50%);
}
.filter-menu.active {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 8px);
}
.filter-menu label {
    display: block;
    font-size: 14px;
    color: var(--app-content-main-color);
    margin-bottom: 8px;
}
.filter-menu select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding: 8px 24px 8px 8px;
    background-position: right 4px center;
    border: 1px solid var(--app-content-main-color);
    border-radius: 4px;
    color: var(--app-content-main-color);
    font-size: 12px;
    background-color: transparent;
    margin-bottom: 16px;
    width: 100%;
}
.filter-menu select option {
    font-size: 14px;
}
.light .filter-menu select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%231f1c2e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
}
.filter-menu select:hover {
    border-color: var(--action-color-hover);
}
.filter-menu select:focus, .filter-menu select.active {
    outline: none;
    color: var(--action-color);
    border-color: var(--action-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%232869ff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
}

.filter-menu-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-button {
    border-radius: 2px;
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    color: #fff;
}
.filter-button.apply {
    background-color: var(--action-color);
}
.filter-button.reset {
    background-color: var(--filter-reset);
}

.products-area-wrapper {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 0 4px;
}

.tableView .products-header {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: var(--app-content-secondary-color);
    position: sticky;
    top: 0;
}
.tableView .products-row {
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.tableView .products-row:hover {
    box-shadow: var(--filter-shadow);
    background-color: var(--app-content-secondary-color);
}
.tableView .products-row .cell-more-button {
    display: none;
}
.tableView .product-cell {
    flex: 1;
    padding: 8px 16px;
    color: var(--app-content-main-color);
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 143px;
}
.tableView .product-cell span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tableView .product-cell img {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-right: 6px;
}
.tableView .sort-button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--app-content-main-color);
    margin-left: 4px;
    display: flex;
    align-items: center;
}
.tableView .sort-button:hover {
    color: var(--action-color);
}
.tableView .sort-button svg {
    width: 12px;
}
.tableView .cell-label {
    display: none;
}

.status {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
}

.status.active {
    color: red;
    background-color: #ffc1c1;
}
.status.active:hover{
    opacity: 0.8;
}
.status.disabled {
    color: #59719d;
    background-color: rgba(89, 113, 157, 0.2);
}
.status.approve {
	color: black;
	background-color: rgb(0 247 146 / 20%);
}

.gridView {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}
@media screen and (max-width: 520px) {
    .gridView {
        margin: 0;
    }
}
.gridView .products-header {
    display: none;
}
.gridView .products-row {
    margin: 8px;
    width: calc(25% - 16px);
    background-color: var(--app-content-secondary-color);
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
}
.gridView .products-row:hover {
    transform: scale(1.01);
    box-shadow: var(--filter-shadow);
}
.gridView .products-row:hover .cell-more-button {
    display: flex;
}
.gridView .products-row .cell-more-button {
    border: none;
    padding: 0;
    border-radius: 4px;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: rgba(16, 24, 39, 0.7);
    color: #fff;
    cursor: pointer;
    display: none;
}
.gridView .product-cell {
    color: var(--app-content-main-color);
    font-size: 14px;
    margin-bottom: 8px;
}
.gridView .product-cell:not(.image) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gridView .product-cell.image span {
    font-size: 18px;
    line-height: 24px;
}
.gridView .product-cell img {
    width: 100%;
    height: 140px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 16px;
}
.gridView .cell-label {
    opacity: 0.6;
}

.info-content{
    margin: 10px 40px 40px 40px;
    padding: 0 100px;
}
.info-content .row{
    height: 60px;
    border-bottom: #ced4da solid 1px;
    display: flex;
    align-items: center;
}
.info-content p{
    font-size: 16px;
    margin:0;
}
.info-content input[type="text"],
.info-content input[type="email"]{
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    width: 280px;
    padding-left: 10px;
}
.info-content input[type="date"]{
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
.info-content input[type="radio"] {
    display: none;
}
.info-content label{
    display: inline-block;
    margin : 0 10px 0 0;
    padding: 6px 12px;
    background-color: #f0f0f0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.info-content input[type="radio"]:checked + label {
    background-color: #704DE4;
    color: white;
}
.info-content button{
    display: inline-block;
    margin : 0 0 0 10px;
    padding: 6px 14px;
    border-radius: 10px;
    background-color: #704DE4;
    color: white;
    font-size: 14px;
    border: none;
}

.info-content button.confirm{
    margin: 20px 0 0 10px;
}
.info-content button.cancel{
    background-color: #dcdcdc;
    color: black;
}
.info-content button:hover{
    opacity: 0.8;
}

.info-modify{
    text-align: center;
}

.info-modify #withdraw-button {
    padding: 10px 20px;
    background-color: #FF5733;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.info-modify #withdraw-button:hover {
    background-color: #E74C3C;
    color: #FFFFFF;
}

.info-modify #edit-profile-button {
    padding: 10px 20px;
    background-color: #3498DB;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    margin-right: 10px;
}

.info-modify #edit-profile-button:hover {
    background-color: #2980B9;
    color: #FFFFFF;
}

.modal .okBtn{
    margin-top: 20px;
    padding: 10px 20px;
    width: 30%;
    display: inline-block;
}

#member-detail-modal{
    display: none;
    max-width: 650px;
    min-height: 730px;
    padding: 40px 80px 0 80px;
    height: auto;
}
#mento-detail-modal{
    display: none;
    max-width: 800px;
    min-height: 730px;
    padding: 40px 80px 0 80px;
    height: auto;
}

#mento-detail-modal .mentor-content{
    margin: 20px 0;
}
#mento-detail-modal .mentor-content h3{
    font-size: 24px;
    margin-bottom: 15px;
}
#mento-detail-modal .mentor-content h4{
    font-size: 20px;
    margin-bottom: 10px;
}
#mento-detail-modal .mentor-content div{
    margin-bottom: 20px;
}
#mento-detail-modal .mentor-content p{
    padding-left: 15px;
    margin-bottom: 5px;
}

.notice-button-area{
    position: relative;
    width: 100%;
    height: 60px;
}

.notice-button{
    width: 100px;
    padding: 5px 10px;
    border: none;
    background-color: #926fff;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 0;
    text-align: center;
}
.submit-button{
    width: 80px;
    padding: 5px 10px;
    border: none;
    background-color: #926fff;
    border-radius: 5px;
    color: white;
    display: inline-block;
}
.cancel-button{
    background-color: #999999;
    text-align: center;
}
.submit-button:hover{
    opacity: 0.8;
}

.notice-title-input{
    width: 100%;
    line-height: 50px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 30px;
    padding: 5px 10px;
}

.notice-content-input{
    min-height: 600px;
    max-height: 600px;
}
.click-text{
    cursor: pointer;
    color: #007bff;
}
.mento-info{
    margin: 0 auto;
    overflow-y: scroll;
    width: 100%;
    padding-left: 50px;
}
.mento-info input{
    padding-left: 10px;
    line-height: 40px!important;
    height: 40px!important;
}
.mento-info select{
    height: 40px!important;
    padding-left: 10px;
    font-size: 17px;
}
.mento-info textarea{
    padding: 10px;
}
@charset "UTF-8";

/* 로그인 */
.login-content{
    justify-content: flex-start;
    align-items: center;
    margin: 50px;
    text-align: center;
}
.login-content form{
    margin: 10px 0 20px 0;
}

.login-content img{
    height: 100px;
    display: block;
    margin: 0 auto;
}

.login-content h2{
    text-align: center;
    margin: 30px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-content p{
    margin: 10px 0;
    color: red;
    display: block;
    text-align: center;
}

.login-content .input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
    margin-top: 0;
}

.login-content .i{
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content .i i{
    transition: .3s;
}

.login-content .input-div > div{
    position: relative;
    height: 45px;
}

.login-content .input-div > div > h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.login-content .input-div:before, .input-div:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #704DE4;
    transition: .4s;
}

.login-content .input-div:before{
    right: 50%;
}

.login-content .input-div:after{
    left: 50%;
}

.login-content .input-div.focus:before, .input-div.focus:after{
    width: 50%;
}

.login-content .input-div.focus > div > h5{
    top: -5px;
    font-size: 15px;
}

.login-content .input-div.focus > .i > i{
    color: #704DE4;
}

.login-content .input-div > div > input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.login-content .input-div.pass{
    margin-bottom: 4px;
}

.login-content a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

.login-content a:hover{
    color: #704DE4;
}

.login-content .btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #704DE4, #704DE4, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}
.login-content .btn:hover{
    background-position: right;
}

.modal{
    overflow: visible;
    z-index: 1000!important;
}

.login-require{
    position:relative;
    height: 600px;
}
.login-require div{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-require img{
    display: block;
    width: 350px;
    margin: 0 auto;
}
.login-require h1{
    margin: 50px 0;
    text-align: center;
}

/* 회원가입 */
.register-content{
    margin : 0 auto;
    width: 800px;
}

.register-content h3{
    margin-bottom: 20px;
}

.register-content fieldset{
    border: none;
}

.register-content fieldset > div{
    position: relative;
    margin-bottom: 10px;
}

.register-content .none{
    display: none;
}


.register-content .error{
    font-size: 0.8em;
    position: absolute;
    width: auto;
    top: 24px; right: 170px;
    text-align: right;
    color: red;
}

.register-content .valid{
    font-size: 0.8em;
    position: absolute;
    width: 150px;
    top: 23px; right: 170px;
    text-align: right;
    color: forestgreen;
}

.register-content fieldset>div>label{
    width: 20%;
    text-align: right;
    padding-right: 20px;
    color: black;
}

.register-content input[type=text],
.register-content select,
.register-content input[type=password],
.register-content input[type=email]{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.register-content input[type=date]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    word-spacing: 2px;
}
.register-content input[type=text]:not(.nofocus):focus,
.register-content select:not(.nofocus):focus,
.register-content input[type=password]:not(.nofocus):focus,
.register-content input[type=email]:not(.nofocus):focus,
.register-content input[type=date]:not(.nofocus):focus {
    border: 1px solid black;
}

.register-content input[type=submit],
.register-content input[type=button] {
    background-color: #704DE4;
    color: white;
    padding: 10px 14px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    display: inline-block;
}

.register-content .block_buttion{
    display: block;
    width: 30%;
    margin: 8px auto;
    padding: 15px;
}

.register-content #wrap_gender{
    border-radius: 4px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 60%;
}

.register-content .gender{
    display: inline-block;
    height: 100%; width: 50%;
    border-right: 1px solid #ccc;
}

.register-content .no_line{
    border-right:none;
}

.register-content .gender > label {
    display: block;
    /*width: 100%; height: 100%;*/
    padding: 10px 0;
    text-align: center;
    font-size: 1em;
    color: #666;
    margin: 0;
}

.register-content input[type=radio]{
    display: none;
}

.register-content .gender_act{
    display: inline-block;
    height: 100%; width: 50%;
    background-color: #704DE4;
    color:#fff;
}

.register-content .gender_act > label {
    display: inline-block;
    width: 100%; height: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 1em;
    color: #fff;
    margin: 0;
}
#alertModal{
    width: 500px;
    height: 150px;
    position: relative;
}
#alertModal p{
    position: absolute;
    width: 400px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    left: 50%;
    top: 50%;
    font-size: 20px;
    margin: -50px 0 0 -200px;
    color: red;
}
.ui-dialog-buttonpane{
    margin-top: 0px!important;
    padding: 0px!important;
}
.ui-dialog-buttonset{
    float: none!important;
    text-align: center;
}
.ui-dialog-titlebar{
    display: none!important;
}