@charset "UTF-8";
.header .fa {
	color:white;
	margin: 0px 5px;
}

.header .fa:before{
	margin-right: 10px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500; /* 조절해보세요 */
}

.hero__slider {
	padding-top: 120px;
}