@charset "UTF-8";

.open_mentoring_card__jobtype {
    font-size: 11px;
    line-height: 1rem;
    margin-bottom: 2px;
    font-weight: 600
}

.open-mentoring-card {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    margin-top: 0 !important;
    margin-bottom: 1rem !important
}

.open-mentoring-card .thumbnail img {
    width: 100%;
    height: 210px;
}

.open-mentoring-card .card-content {
    padding: 12px
}

.open-mentoring-card .card-content .content-body {
    color: #484848;
    height: 4em
}

.open-mentoring-card .card-content .content-body .mentee-question {
	
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 1.25;
    font-weight: 700;
    word-break: break-all;
   /*  max-height: 2.0em; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

@media all and (min-width: 1000px) {
    .open-mentoring-card .card-content .content-body .mentee-question {
        /* min-height:2.5em */
    }
}

.open-mentoring-card .card-content .content-body .mentor-answer {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 10px;
    overflow-wrap: break-word;
    color: #484848;
    max-height: 5.68em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical
}

.open-mentoring-card .card-content .mentor-profile {
    margin-top: 1.5rem
}

.open-mentoring-card .card-content .mentor-info-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 80%
}

.open-mentoring-card .card-content .mentor-info-wrapper .mentor-image {
    margin-right: 10px
}

.open-mentoring-card .card-content .mentor-info-wrapper .mentor-image img {
    max-width: 35px
}

.open-mentoring-card .card-content .mentor-info-wrapper .mentor-info {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #484848;
    width: 90%
}

.open-mentoring-card .card-content .mentor-info-wrapper .mentor-info .job {
    font-size: 11px;
    line-height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.open-mentoring-card .card-footer .created-at {
    font-size: 11px;
    line-height: 1rem
}

/* --------------------- */

.boxhover:hover{
	cursor:pointer;
}
.mento_list_info_detail_title{
	width:50px;
	color: blueviolet;
    font-weight: 900;
}
.mento_list_info_detail_content{
	text-align:left;
	width:250px;
	height:20px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mento_list_info_detail_content > p{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.follow{
	height: 40px;
    border-radius: 10px;
    padding: 8px;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    color: #FFFFFF;
    background-color:  #FF9999;
}
.follow.active{
    background: #fc3838;
    color: #FFFFFF;
}
.follow:hover{
    opacity: 0.8;
}
.follow > a{
	color: white;
}

.star{
	height: 40px;
    background: #fbbf4e;
    border-radius: 10px;
    padding: 8px;
    color: black !important;
    font-weight: 700;
    font-size: 17px;
    cursor: default;
}

/* --------  Detail Modal 관련 ----------- */

.modal-my{
    height: 90% !important; 
    max-width: 100% !important;
    width: 42% !important;
} 

.modalinner{
	overflow-y: scroll;
	height:96%;
	
}
.mentoregist{
	margin-bottom: 40px;
	font-size: 20px;
    font-weight: bold;
}
.mentoregist > span{
	vertical-align:middle;
	text-align:right;
	margin-right:20px;
	display:inline-block;
	width:150px;
	font-size: 20px;
    font-weight: bold;
}

.mentoregist > input{
	width:500px;
	height:60px;
	font-size: 17px;
}
.mentoregist > input:focus{
    transform: scale(1.01);
}
.mentoregist > select:focus{
    transform: scale(1.01);
}
.mImage{
	padding-top: 30px
}
.mento_list_info{
	display: inline;
}
.oversize{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detail-modal-font{
	color: #7700f3;
    font-weight: bold;
}

/* --------  button 관련 ----------- */

.button-mento{
	padding-top: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
    
    border-radius: 10px;
    border-color:blueviolet;
	border-width : 2px ;
	border-style : solid ;
	border-radius: 10px
    
}
.button-mento:hover{
	padding-top: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background:blueviolet;
    
    border-radius: 10px;
    border-color:blueviolet;
	border-width : 2px ;
	border-style : solid ;
	border-radius: 10px
}

.button-cancle{
	padding-top: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    color: red;
    
    border-radius: 10px;
    border-color:red;
	border-width : 2px ;
	border-style : solid ;
	border-radius: 10px
}

.button-cancle:hover{
	padding-top: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background:red;
    
    border-radius: 10px;
    border-color:red;
	border-width : 2px ;
	border-style : solid ;
	border-radius: 10px
}


/* --------  ㅡMCalender 관련 ----------- */
.MCalendar td {
    width: 50px;
    height: 50px;
}

.MCalendar { 
    text-align: center;
    margin: 0 auto;
}


.MCalendar>thead>tr:first-child>td { 
	font-weight: bold; 
}

.MCalendar>thead>tr:last-child>td {
    background-color: gray;
    color: white;
}        

.MpastDay{ background-color: lightgray; }

.Mtoday{            
    background-color: #FFCA64;            
    cursor: pointer;
}

.MfutureDay{            
    background-color: #FFFFFF;
    cursor: pointer;
}

.MfutureDay.MchoiceDay, .Mtoday.MchoiceDay{            
    background-color: #3E85EF;            
    color: #fff;
    cursor: pointer;
}


/*--------mento_contact 관련---------*/
.mento-question {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
  }

  .mento-question span {
    font-size: 20px;
    color: orange;
    font-weight: 800;
  }

  .mento-question h2 {
    margin-bottom: 15px;
  }

  .mento-question p {
    font-size: 18px;
    color: #333;
  }

  .mento-question textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 10px;
  }





#Mreserve-time {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  #Mreserve-time div {
    flex: 1;
    margin-right: 20px;
  }

  #Mreserve-time span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  #Mreserve-time select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .Msite-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .Msite-btn:hover {
    background-color: #0056b3;
  }
  
  
/*----mentonull 관련*/
.mentonull{
	margin:50px;
	width: inherit;
	text-align:center;
 	height: 127px;
 	border-radius: 20px;
}

.nullInfo{
	font-size: 40px;
	font-weight: bold;

}

.nullLink{
	width: 400px;
	font-size: 40px;
	border: 4px solid #bc35ff;
	border-radius: 50px;
}

.nullLink a {
	color:#bc35ff;
}
  
  
  
  
  
  
  
    