@charset "UTF-8";
.boxhover:hover{
	cursor:pointer;
}
.mento_list_box{
	border: 1px solid black;
    margin: 20px 20px;
    padding: 15px 15px;
    border-radius: 12px;
    box-shadow: 10px 10px 20px 0px;
    background: #ededed
}
.mento_list_box_top{
	border-radius: 10px;
	background: white;
	margin:5px;
}
.mento_list_box_title{
	padding: 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 26px;
    font-weight: 600;
	
}
.mento_list_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
 	
}
.mento_list_info > div > div{
    display:flex;
}
.mento_list_info_detail_title{
	width:50px;
	color: blueviolet;
    font-weight: 900;
}
.mento_list_info_detail_content{
	text-align:left;
	width:90px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.follow{
	height: 40px;
    background: #e53f4f;
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-weight: 700;
    font-size: 17px;
}
.star{
	height: 40px;
    background: #fbbf4e;
    border-radius: 10px;
    padding: 8px;
    color: black;
    font-weight: 700;
    font-size: 17px;
}

